<h1><center>Ind vs Pak Cricket Hackathon

In [1]:
#Importing the required libraries
import pandas as pd
import numpy as np

In [2]:
#Reading the training file
df = pd.read_csv('train-file.csv')
df.head()

,player_id,player_name,runs_scored,wickets,runs_conceded,catches,stumpings,match_date,opposition,match_id
0,1,Rohit Sharma,DNB,-,-,1,0,23 Jun 2007,v Ireland Belfast,1
1,1,Rohit Sharma,8,0,3,1,0,26 Jun 2007,v South Africa Belfast,2
2,1,Rohit Sharma,1,-,-,0,0,5 Oct 2007,v Australia Hyderabad,3
3,1,Rohit Sharma,52,-,-,1,0,18 Nov 2007,v Pakistan Jaipur,4
4,1,Rohit Sharma,29,-,-,0,0,3 Feb 2008,v Australia Brisbane,5

In [3]:
#There are features in the dataframe like runs_conceded, catches and stumping which cannot be obtained for a future match and therefore removing it from the dataframe
df.drop(columns=['runs_conceded','catches','stumpings'],inplace=True)
df.shape

(2021, 7)

In [4]:
#Creating new feature opposition team to generate and save team name from the feature opposition
international_cricket_teams = ["Australia", "Bangladesh", "England", "India", "New Zealand", "Pakistan",
                               "South Africa", "Sri Lanka", "West Indies", "Zimbabwe","Ireland",
                              "Hong Kong", "Afghanistan", "Nepal","Netherlands","U.A.E."]
df['opposition_team'] = df['opposition'].apply(lambda x : [i for i in international_cricket_teams if i in x][0])
df['opposition_team'].unique()

array(['Ireland', 'South Africa', 'Australia', 'Pakistan', 'Sri Lanka',
       'Bangladesh', 'Hong Kong', 'England', 'New Zealand', 'West Indies',
       'Zimbabwe', 'Afghanistan', 'U.A.E.', 'India', 'Nepal',
       'Netherlands'], dtype=object)

In [5]:
#Creating new feature location to generate and save the match location from the feature opposition
df['location'] = df.apply(lambda x : x['opposition'].replace('v ' + str(x['opposition_team']) + ' ',''), axis = 1)
df['location'].unique()

array(['Belfast', 'Hyderabad', 'Jaipur', 'Brisbane', 'Melbourne',
       'Canberra', 'Adelaide', 'Sydney', 'Hobart', 'Mirpur', 'Karachi',
       'Dambulla', 'Colombo (RPS)', 'Rajkot', 'Indore', 'Kanpur',
       'Cuttack', 'Hamilton', 'Auckland', 'Kingston', 'Gros Islet',
       'Ahmedabad', 'Bulawayo', 'Harare', 'Bengaluru', 'Chennai',
       'Durban', 'Johannesburg', 'Cape Town', 'Gqeberha', 'Centurion',
       'Port of Spain', 'North Sound', 'Chester-le-Street',
       'Visakhapatnam', 'Perth', 'Hambantota', 'Pallekele', 'Mohali',
       'Dharamsala', 'Cardiff', 'The Oval', 'Birmingham', 'Pune',
       'Ranchi', 'Nagpur', 'Kochi', 'Napier', 'Wellington', 'Fatullah',
       'Eden Gardens', 'Wankhede', 'Delhi', 'Nottingham', "Lord's",
       'Leeds', 'Dubai (DSC)', 'Guwahati', 'Brabourne',
       'Thiruvananthapuram', 'Mount Maunganui', 'Southampton',
       'Manchester', 'Providence', 'Raipur', 'Bridgetown', 'Tarouba',
       'Lucknow', 'Christchurch', 'Vadodara', 'Gwalior', 'Paarl',
       'Chattogram', 'Lahore', 'Abu Dhabi', 'Sharjah',
       'Dublin (Malahide)', 'Nelson', 'Dunedin', 'Bristol', 'Taunton',
       'Rawalpindi', 'Multan', 'Rotterdam'], dtype=object)

In [6]:
df.drop(columns = 'opposition',inplace=True)

In [7]:
df.head()

,player_id,player_name,runs_scored,wickets,match_date,match_id,opposition_team,location
0,1,Rohit Sharma,DNB,-,23 Jun 2007,1,Ireland,Belfast
1,1,Rohit Sharma,8,0,26 Jun 2007,2,South Africa,Belfast
2,1,Rohit Sharma,1,-,5 Oct 2007,3,Australia,Hyderabad
3,1,Rohit Sharma,52,-,18 Nov 2007,4,Pakistan,Jaipur
4,1,Rohit Sharma,29,-,3 Feb 2008,5,Australia,Brisbane

In [8]:
df.runs_scored.unique()

array(['DNB', '8', '1', '52', '29', '0', '39*', '70*', '24', '3*', '66',
       '2', '9', '26', '11', '0*', '22', '58', '22*', '3', '19', '12',
       '37', '32', '25', '18', '54', '31', '11*', '28', '8*', '25*', '4*',
       '15', '60*', '43*', '4', '7', 'TDNB', '48', '57', '36', '114',
       '61*', '101*', '82', '13', '51', '68', '38', '6', '69', '10', '41',
       '20', '5', '44', '23', '87*', '68*', '7*', '81', '86*', '39', '94',
       '55', '72', '90*', '117', '9*', '95', '27', '23*', '21', '80',
       '77', '24*', '30*', '33', '1*', '14', '108', '183', '106', '128*',
       '2*', '31*', '83', '21*', '65', '47*', '58*', '43', '33*', '60',
       '5*', '49*', '46', '102', '48*', '115', '6*', '64*', '42', '61',
       '141*', '100*', '79', '115*', '209', '86', '99', '123', '78',
       '66*', '62*', '14*', '136', '56', '52*', '18*', '10*', '264',
       '139*', '138', '107', '57*', '16*', '64', '44*', '16', '137', '34',
       '63', '150', '171*', '91', '124', '59', '85*', '154*', '45', '70',
       '20*', '81*', '76*', '123*', '96*', '76', '82*', '124*', '17',
       '104', '131', '110*', '92', '71', '125', '121', '30', '147', '113',
       '208*', '88', '112', '46*', '160*', '75', '129*', '137*', '47',
       '83*', '111*', '15*', '152*', '140', '157*', '162', '63*', '133',
       '87', '62', '116', '122*', '67', '103', '34*', '111', '120',
       '114*', '159', '53', '85', '17*', '119', '89', '35', '49', '73',
       '51*', '166*', '208', '40*', '101', '40', '12*', '74*', '67*',
       'absent', '27*', '122', '19*', '32*', '90', '92*', '75*', '45*',
       '98*', '130', '50', '113*', '93', '28*', '74', '105', '13*', '72*',
       '79*', '71*', '102*', '118', '36*', '112*', '26*', '133*', '77*',
       '127', '88*', '50*', '210', '84', '100', '125*', '38*', '69*',
       '128', '29*', '117*', '210*', '106*', '110', '41*', '42*', '151',
       '96', '193', '158', '105*', '89*', '109', '180*', '54*', '94*',
       '109*', '35*'], dtype=object)

In [9]:
for i in ['runs_scored', 'wickets']:
    for j in range(len(df[i])):
        df[i][j] = str(df[i][j]).replace('TDNB','0')
        df[i][j] = str(df[i][j]).replace('DNB','0')
        df[i][j] = str(df[i][j]).replace('absent','0')
        df[i][j] = str(df[i][j]).replace('*','')
        df[i][j] = str(df[i][j]).replace('-','0')

/var/folders/f4/k3f9xmcn7fj7ybjldy_7gnpw0000gn/T/ipykernel_11351/1720642101.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][j] = str(df[i][j]).replace('TDNB','0')
/var/folders/f4/k3f9xmcn7fj7ybjldy_7gnpw0000gn/T/ipykernel_11351/1720642101.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][j] = str(df[i][j]).replace('DNB','0')
/var/folders/f4/k3f9xmcn7fj7ybjldy_7gnpw0000gn/T/ipykernel_11351/1720642101.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][j] = str(df[i][j]).replace('absent','0')
/var/folders/f4/k3f9xmcn7fj7ybjldy_7gnpw0000gn/T/ipykernel_11351/1720642101.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][j] = str(df[i][j]).replace('*','')
/var/folders/f4/k3f9xmcn7fj7ybjldy_7gnpw0000gn/T/ipykernel_11351/1720642101.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i][j] = str(df[i][j]).replace('-','0')

In [10]:
df['runs_scored'].unique()

array(['0', '8', '1', '52', '29', '39', '70', '24', '3', '66', '2', '9',
       '26', '11', '22', '58', '19', '12', '37', '32', '25', '18', '54',
       '31', '28', '4', '15', '60', '43', '7', '48', '57', '36', '114',
       '61', '101', '82', '13', '51', '68', '38', '6', '69', '10', '41',
       '20', '5', '44', '23', '87', '81', '86', '94', '55', '72', '90',
       '117', '95', '27', '21', '80', '77', '30', '33', '14', '108',
       '183', '106', '128', '83', '65', '47', '49', '46', '102', '115',
       '64', '42', '141', '100', '79', '209', '99', '123', '78', '62',
       '136', '56', '264', '139', '138', '107', '16', '137', '34', '63',
       '150', '171', '91', '124', '59', '85', '154', '45', '76', '96',
       '17', '104', '131', '110', '92', '71', '125', '121', '147', '113',
       '208', '88', '112', '160', '75', '129', '111', '152', '140', '157',
       '162', '133', '116', '122', '67', '103', '120', '159', '53', '119',
       '89', '35', '73', '166', '40', '74', '98', '130', '50', '93',
       '105', '118', '127', '210', '84', '151', '193', '158', '109',
       '180'], dtype=object)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_id        2021 non-null   int64
 1   player_name      2021 non-null   object
 2   runs_scored      2021 non-null   object
 3   wickets          2021 non-null   object
 4   match_date       2021 non-null   object
 5   match_id         2021 non-null   int64
 6   opposition_team  2021 non-null   object
 7   location         2021 non-null   object
dtypes: int64(2), object(6)
memory usage: 126.4+ KB

In [12]:
df['runs_scored'] = df['runs_scored'].astype('int')
df['wickets'] = df['wickets'].astype('int')

In [13]:
#Printing the player_id with the corresponding player_name for reference
df[['player_id','player_name']].drop_duplicates().sort_values(by='player_id',ascending=True)

      player_id          player_name
0             1         Rohit Sharma
447           2        Hardik Pandya
706           3         Shubman Gill
24            4          Virat Kohli
563           5         Shreyas Iyer
500           6             KL Rahul
40            7      Ravindra Jadeja
516           8       Shardul Thakur
445           9       Jasprit Bumrah
684          10       Mohammed Siraj
518          11        Kuldeep Yadav
187          12       Mohammed Shami
64           13  Ravichandran ashwin
890          14         Ishan Kishan
891          15     Suryakumar Yadav
469          16           Babar Azam
470          17          Shadab Khan
1859         18    Abdullah Shafique
496          19          Faqar Zaman
1034         20           Haris Rauf
1787         21            Hasan Ali
1035         22       Iftikhar Ahmed
634          23          Imam-Ul-Haq
647          24       Mohammad Nawaz
1038         25      Mohammad Rizwan
1791         26   Mohammad Wasim Jr.
1039         27          Salman Agha
1766         28         Saud Shakeel
648          29  Shaheen Shah Afridi
1874         30            Usama Mir

In [14]:
ind_players = "Rohit Sharma, Ishan Kishan, Virat Kohli, Shreyas Iyer, KL Rahul, Hardik Pandya, Ravindra Jadeja, Ravichandran ashwin, Kuldeep Yadav, Jasprit Bumrah, Mohammed Siraj"
ind_player_list = ind_players.split(', ')
ind_player_list

['Rohit Sharma',
 'Ishan Kishan',
 'Virat Kohli',
 'Shreyas Iyer',
 'KL Rahul',
 'Hardik Pandya',
 'Ravindra Jadeja',
 'Ravichandran ashwin',
 'Kuldeep Yadav',
 'Jasprit Bumrah',
 'Mohammed Siraj']

In [15]:
pak_players = "Babar Azam, Faqar Zaman, Imam-Ul-Haq, Mohammad Rizwan, Saud Shakeel, Iftikhar Ahmed, Mohammad Nawaz, Shadab Khan, Hasan Ali, Shaheen Afridi, Haris Rauf"
pak_players_list = pak_players.split(', ')
pak_players_list

['Babar Azam',
 'Faqar Zaman',
 'Imam-Ul-Haq',
 'Mohammad Rizwan',
 'Saud Shakeel',
 'Iftikhar Ahmed',
 'Mohammad Nawaz',
 'Shadab Khan',
 'Hasan Ali',
 'Shaheen Afridi',
 'Haris Rauf']

In [16]:
#Keeping only the playing 11 in the dataset
complete_playing_11_list = ind_player_list + pak_players_list
df1 = df.copy()
df1 = df1[df1['player_name'].isin(complete_playing_11_list)]

In [17]:
df.shape, df1.shape

((2021, 8), (1728, 8))

In [18]:
#Estimating the values for next match using basic stats
df2 = df1[df1['opposition_team'].isin(["India", "Pakistan"])]
df2.shape

(110, 8)

In [25]:
grouped_runs = df2.groupby(['player_id'])['runs_scored'].mean()
stat_res_runs = pd.DataFrame(grouped_runs)
stat_res_runs.reset_index(inplace=True)
stat_res_runs.runs_scored = stat_res_runs.runs_scored.round()
stat_res_runs.rename(columns={'runs_scored':'runs'},inplace=True)
stat_res_runs.head(3)

   player_id  runs
0          1  44.0
1          2  35.0
2          4  44.0

In [26]:
grouped_wickets = df2.groupby(['player_id'])['wickets'].mean()
stat_res_wickets = pd.DataFrame(grouped_wickets)
stat_res_wickets.reset_index(inplace=True)
stat_res_wickets.wickets = stat_res_wickets.wickets.round()
stat_res_wickets.head(3)

   player_id  wickets
0          1      0.0
1          2      1.0
2          4      0.0

In [27]:
stat_submission = pd.merge(stat_res_runs,stat_res_wickets,on='player_id')
stat_submission.head(3)

   player_id  runs  wickets
0          1  44.0      0.0
1          2  35.0      1.0
2          4  44.0      0.0

In [28]:
not_in_squad = [3,8,12,15,18,21,26,27,28,29,30]
not_in_squad_final = pd.DataFrame(data = not_in_squad)
not_in_squad_final.rename(columns={0:'player_id'},inplace=True)
not_in_squad_final['runs'] = 0
not_in_squad_final['wickets'] = 0

In [29]:
stat_submission_final = pd.concat([stat_submission,not_in_squad_final])
stat_submission_final.sort_values(by='player_id',inplace=True)
stat_submission_final

    player_id  runs  wickets
0           1  44.0      0.0
1           2  35.0      1.0
0           3   0.0      0.0
2           4  44.0      0.0
3           5  14.0      0.0
4           6  84.0      0.0
5           7  12.0      1.0
1           8   0.0      0.0
6           9   2.0      1.0
7          10   0.0      0.0
8          11   1.0      2.0
2          12   0.0      0.0
9          13   6.0      1.0
10         14  41.0      0.0
3          15   0.0      0.0
11         16  24.0      0.0
12         17   8.0      1.0
4          18   0.0      0.0
13         19  39.0      0.0
14         20   0.0      2.0
5          21   0.0      0.0
15         22  12.0      0.0
16         23   6.0      0.0
17         24   8.0      0.0
18         25   1.0      0.0
6          26   0.0      0.0
7          27   0.0      0.0
8          28   0.0      0.0
9          29   0.0      0.0
10         30   0.0      0.0

In [30]:
stat_submission_final.to_csv('submission.csv',index=False)