<h1><center>Ind vs Pak Cricket Hackathon

In [1]:
!pip3 install pycaret --user

Requirement already satisfied: pycaret in /opt/homebrew/anaconda3/lib/python3.9/site-packages (3.1.0)
Requirement already satisfied: tqdm>=4.62.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (4.64.1)
Requirement already satisfied: importlib-metadata>=4.12.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (6.8.0)
Requirement already satisfied: pmdarima!=1.8.1,<3.0.0,>=1.8.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (2.0.3)
Requirement already satisfied: lightgbm>=3.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (4.1.0)
Requirement already satisfied: numpy<1.24,>=1.21 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.21.6)
Requirement already satisfied: schemdraw==0.15 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.15)
Requirement already satisfied: plotly>=5.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (5.9.0)
Requirement already satisfied: jinja2>=1.2 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (2.11.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.2.0)
Requirement already satisfied: pandas<2.0.0,>=1.3.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.4.4)
Requirement already satisfied: kaleido>=0.2.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.2.1)
Requirement already satisfied: scikit-learn<1.3.0,>=1.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.1.1)
Requirement already satisfied: matplotlib>=3.3.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (3.7.2)
Requirement already satisfied: yellowbrick>=1.4 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.5)
Requirement already satisfied: plotly-resampler>=0.8.3.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.9.1)
Requirement already satisfied: cloudpickle in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (2.0.0)
Requirement already satisfied: statsmodels>=0.12.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.13.2)
Requirement already satisfied: pyod>=1.0.8 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.1.0)
Requirement already satisfied: scipy~=1.10.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.10.1)
Requirement already satisfied: category-encoders>=2.4.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (2.6.2)
Requirement already satisfied: requests>=2.27.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (2.28.1)
Requirement already satisfied: deprecation>=2.1.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (2.1.0)
Requirement already satisfied: numba>=0.55.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.55.1)
Requirement already satisfied: sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.21.1)
Requirement already satisfied: nbformat>=4.2.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (5.5.0)
Requirement already satisfied: scikit-plot>=0.3.7 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.3.7)
Requirement already satisfied: wurlitzer in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (3.0.3)
Requirement already satisfied: psutil>=5.9.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (5.9.5)
Requirement already satisfied: markupsafe>=2.0.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (2.0.1)
Requirement already satisfied: xxhash in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (3.3.0)
Requirement already satisfied: ipython>=5.5.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (8.4.0)
Requirement already satisfied: ipywidgets>=7.6.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (7.6.5)
Requirement already satisfied: imbalanced-learn>=0.8.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (0.11.0)
Requirement already satisfied: tbats>=1.1.3 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pycaret) (1.1.3)
Requirement already satisfied: patsy>=0.5.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from category-encoders>=2.4.0->pycaret) (0.5.2)
Requirement already satisfied: packaging in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from deprecation>=2.1.0->pycaret) (21.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from imbalanced-learn>=0.8.1->pycaret) (2.2.0)
Requirement already satisfied: zipp>=0.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from importlib-metadata>=4.12.0->pycaret) (3.8.0)
Requirement already satisfied: traitlets>=5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: backcall in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (2.11.2)
Requirement already satisfied: decorator in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (5.1.1)
Requirement already satisfied: pickleshare in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.7.5)
Requirement already satisfied: appnope in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.1.2)
Requirement already satisfied: pexpect>4.3 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (4.8.0)
Requirement already satisfied: stack-data in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (63.4.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (3.0.20)
Requirement already satisfied: jedi>=0.16 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.18.1)
Requirement already satisfied: matplotlib-inline in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipython>=5.5.0->pycaret) (0.1.6)
Requirement already satisfied: ipython-genutils~=0.2.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (3.5.2)
Requirement already satisfied: ipykernel>=4.5.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (6.15.2)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipywidgets>=7.6.5->pycaret) (1.0.0)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (9.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (1.1.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (1.4.2)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (3.0.9)
Requirement already satisfied: importlib-resources>=3.2.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from matplotlib>=3.3.0->pycaret) (6.0.0)
Requirement already satisfied: jupyter_core in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->pycaret) (4.11.1)
Requirement already satisfied: fastjsonschema in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->pycaret) (2.16.2)
Requirement already satisfied: jsonschema>=2.6 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbformat>=4.2.0->pycaret) (4.16.0)
Requirement already satisfied: llvmlite<0.39,>=0.38.0rc1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from numba>=0.55.0->pycaret) (0.38.0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pandas<2.0.0,>=1.3.0->pycaret) (2022.1)
Requirement already satisfied: tenacity>=6.2.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from plotly>=5.0.0->pycaret) (8.0.1)

Requirement already satisfied: trace-updater>=0.0.8 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.0.9.1)
Requirement already satisfied: tsdownsample==0.1.2 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (0.1.2)
Requirement already satisfied: orjson<4.0.0,>=3.8.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (3.9.7)
Requirement already satisfied: dash<3.0.0,>=2.11.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from plotly-resampler>=0.8.3.1->pycaret) (2.13.0)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (0.29.32)
Requirement already satisfied: urllib3 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pmdarima!=1.8.1,<3.0.0,>=1.8.0->pycaret) (1.26.11)
Requirement already satisfied: six in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pyod>=1.0.8->pycaret) (1.16.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from requests>=2.27.1->pycaret) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from requests>=2.27.1->pycaret) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from requests>=2.27.1->pycaret) (3.3)
Requirement already satisfied: scikit-base<0.6.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (0.5.1)
Requirement already satisfied: deprecated>=1.2.13 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (1.2.14)
Requirement already satisfied: nest-asyncio in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.5.5)
Requirement already satisfied: dash-html-components==2.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: retrying in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.3.4)
Requirement already satisfied: ansi2html in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.8.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (4.3.0)
Requirement already satisfied: dash-core-components==2.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.0)
Requirement already satisfied: Flask<2.3.0,>=1.0.4 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (1.1.2)
Requirement already satisfied: Werkzeug<2.3.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.3)
Requirement already satisfied: dash-table==5.0.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (5.0.0)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from deprecated>=1.2.13->sktime!=0.17.1,!=0.17.2,!=0.18.0,<0.22.0,>=0.16.1->pycaret) (1.14.1)
Requirement already satisfied: pyzmq>=17 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (23.2.0)
Requirement already satisfied: tornado>=6.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (6.1)
Requirement already satisfied: debugpy>=1.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (1.5.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (7.3.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from jedi>=0.16->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat>=4.2.0->pycaret) (21.4.0)
Requirement already satisfied: ptyprocess>=0.5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from pexpect>4.3->ipython>=5.5.0->pycaret) (0.7.0)
Requirement already satisfied: wcwidth in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.5.0->pycaret) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (6.4.12)
Requirement already satisfied: executing in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.8.3)
Requirement already satisfied: asttokens in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=5.5.0->pycaret) (2.0.5)
Requirement already satisfied: pure-eval in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from stack-data->ipython>=5.5.0->pycaret) (0.2.2)
Requirement already satisfied: itsdangerous>=0.24 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (2.0.1)
Requirement already satisfied: click>=5.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from Flask<2.3.0,>=1.0.4->dash<3.0.0,>=2.11.0->plotly-resampler>=0.8.3.1->pycaret) (8.0.4)
Requirement already satisfied: entrypoints in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets>=7.6.5->pycaret) (0.4)
Requirement already satisfied: prometheus-client in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.14.1)
Requirement already satisfied: argon2-cffi in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (21.3.0)
Requirement already satisfied: Send2Trash>=1.8.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.8.0)
Requirement already satisfied: nbconvert>=5 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (6.4.4)
Requirement already satisfied: terminado>=0.8.3 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.13.1)
Requirement already satisfied: jupyterlab-pygments in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.1.2)
Requirement already satisfied: beautifulsoup4 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (4.11.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.5.13)
Requirement already satisfied: bleach in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (4.1.0)
Requirement already satisfied: mistune<2,>=0.8.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.8.4)
Requirement already satisfied: testpath in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.6.0)
Requirement already satisfied: defusedxml in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.7.1)
Requirement already satisfied: pandocfilters>=1.4.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.5.0)
Requirement already satisfied: argon2-cffi-bindings in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (21.2.0)

Requirement already satisfied: cffi>=1.0.1 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (2.3.1)
Requirement already satisfied: webencodings in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from bleach->nbconvert>=5->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (0.5.1)
Requirement already satisfied: pycparser in /opt/homebrew/anaconda3/lib/python3.9/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.6.5->pycaret) (2.21)

In [28]:
#Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from pycaret.regression import *
from sklearn.metrics import mean_squared_error
from catboost import CatBoostRegressor
from sklearn.model_selection import GridSearchCV

In [3]:
#Reading the training file
df = pd.read_csv('train-file.csv')
df.head()

,player_id,player_name,runs_scored,wickets,runs_conceded,catches,stumpings,match_date,opposition,match_id
0,1,Rohit Sharma,DNB,-,-,1,0,23 Jun 2007,v Ireland Belfast,1
1,1,Rohit Sharma,8,0,3,1,0,26 Jun 2007,v South Africa Belfast,2
2,1,Rohit Sharma,1,-,-,0,0,5 Oct 2007,v Australia Hyderabad,3
3,1,Rohit Sharma,52,-,-,1,0,18 Nov 2007,v Pakistan Jaipur,4
4,1,Rohit Sharma,29,-,-,0,0,3 Feb 2008,v Australia Brisbane,5

In [4]:
#There are features in the dataframe like runs_conceded, catches and stumping which cannot be obtained for a future match and therefore removing it from the dataframe
df.drop(columns=['runs_conceded','catches','stumpings'],inplace=True)
df.shape

(2021, 7)

In [5]:
#Creating new feature opposition team to generate and save team name from the feature opposition
international_cricket_teams = ["Australia", "Bangladesh", "England", "India", "New Zealand", "Pakistan",
                               "South Africa", "Sri Lanka", "West Indies", "Zimbabwe","Ireland",
                              "Hong Kong", "Afghanistan", "Nepal","Netherlands","U.A.E."]
df['opposition_team'] = df['opposition'].apply(lambda x : [i for i in international_cricket_teams if i in x][0])
df['opposition_team'].unique()

array(['Ireland', 'South Africa', 'Australia', 'Pakistan', 'Sri Lanka',
       'Bangladesh', 'Hong Kong', 'England', 'New Zealand', 'West Indies',
       'Zimbabwe', 'Afghanistan', 'U.A.E.', 'India', 'Nepal',
       'Netherlands'], dtype=object)

In [6]:
#Creating new feature location to generate and save the match location from the feature opposition
df['location'] = df.apply(lambda x : x['opposition'].replace('v ' + str(x['opposition_team']) + ' ',''), axis = 1)
df['location'].unique()

array(['Belfast', 'Hyderabad', 'Jaipur', 'Brisbane', 'Melbourne',
       'Canberra', 'Adelaide', 'Sydney', 'Hobart', 'Mirpur', 'Karachi',
       'Dambulla', 'Colombo (RPS)', 'Rajkot', 'Indore', 'Kanpur',
       'Cuttack', 'Hamilton', 'Auckland', 'Kingston', 'Gros Islet',
       'Ahmedabad', 'Bulawayo', 'Harare', 'Bengaluru', 'Chennai',
       'Durban', 'Johannesburg', 'Cape Town', 'Gqeberha', 'Centurion',
       'Port of Spain', 'North Sound', 'Chester-le-Street',
       'Visakhapatnam', 'Perth', 'Hambantota', 'Pallekele', 'Mohali',
       'Dharamsala', 'Cardiff', 'The Oval', 'Birmingham', 'Pune',
       'Ranchi', 'Nagpur', 'Kochi', 'Napier', 'Wellington', 'Fatullah',
       'Eden Gardens', 'Wankhede', 'Delhi', 'Nottingham', "Lord's",
       'Leeds', 'Dubai (DSC)', 'Guwahati', 'Brabourne',
       'Thiruvananthapuram', 'Mount Maunganui', 'Southampton',
       'Manchester', 'Providence', 'Raipur', 'Bridgetown', 'Tarouba',
       'Lucknow', 'Christchurch', 'Vadodara', 'Gwalior', 'Paarl',
       'Chattogram', 'Lahore', 'Abu Dhabi', 'Sharjah',
       'Dublin (Malahide)', 'Nelson', 'Dunedin', 'Bristol', 'Taunton',
       'Rawalpindi', 'Multan', 'Rotterdam'], dtype=object)

In [7]:
df.drop(columns = 'opposition',inplace=True)

In [8]:
df.runs_scored.unique()

array(['DNB', '8', '1', '52', '29', '0', '39*', '70*', '24', '3*', '66',
       '2', '9', '26', '11', '0*', '22', '58', '22*', '3', '19', '12',
       '37', '32', '25', '18', '54', '31', '11*', '28', '8*', '25*', '4*',
       '15', '60*', '43*', '4', '7', 'TDNB', '48', '57', '36', '114',
       '61*', '101*', '82', '13', '51', '68', '38', '6', '69', '10', '41',
       '20', '5', '44', '23', '87*', '68*', '7*', '81', '86*', '39', '94',
       '55', '72', '90*', '117', '9*', '95', '27', '23*', '21', '80',
       '77', '24*', '30*', '33', '1*', '14', '108', '183', '106', '128*',
       '2*', '31*', '83', '21*', '65', '47*', '58*', '43', '33*', '60',
       '5*', '49*', '46', '102', '48*', '115', '6*', '64*', '42', '61',
       '141*', '100*', '79', '115*', '209', '86', '99', '123', '78',
       '66*', '62*', '14*', '136', '56', '52*', '18*', '10*', '264',
       '139*', '138', '107', '57*', '16*', '64', '44*', '16', '137', '34',
       '63', '150', '171*', '91', '124', '59', '85*', '154*', '45', '70',
       '20*', '81*', '76*', '123*', '96*', '76', '82*', '124*', '17',
       '104', '131', '110*', '92', '71', '125', '121', '30', '147', '113',
       '208*', '88', '112', '46*', '160*', '75', '129*', '137*', '47',
       '83*', '111*', '15*', '152*', '140', '157*', '162', '63*', '133',
       '87', '62', '116', '122*', '67', '103', '34*', '111', '120',
       '114*', '159', '53', '85', '17*', '119', '89', '35', '49', '73',
       '51*', '166*', '208', '40*', '101', '40', '12*', '74*', '67*',
       'absent', '27*', '122', '19*', '32*', '90', '92*', '75*', '45*',
       '98*', '130', '50', '113*', '93', '28*', '74', '105', '13*', '72*',
       '79*', '71*', '102*', '118', '36*', '112*', '26*', '133*', '77*',
       '127', '88*', '50*', '210', '84', '100', '125*', '38*', '69*',
       '128', '29*', '117*', '210*', '106*', '110', '41*', '42*', '151',
       '96', '193', '158', '105*', '89*', '109', '180*', '54*', '94*',
       '109*', '35*'], dtype=object)

In [9]:
for i in ['runs_scored', 'wickets']:
    for j in range(len(df[i])):
        df[i][j] = str(df[i][j]).replace('TDNB','0')
        df[i][j] = str(df[i][j]).replace('DNB','0')
        df[i][j] = str(df[i][j]).replace('absent','0')
        df[i][j] = str(df[i][j]).replace('*','')
        df[i][j] = str(df[i][j]).replace('-','0')

In [10]:
df['runs_scored'].unique()

array(['0', '8', '1', '52', '29', '39', '70', '24', '3', '66', '2', '9',
       '26', '11', '22', '58', '19', '12', '37', '32', '25', '18', '54',
       '31', '28', '4', '15', '60', '43', '7', '48', '57', '36', '114',
       '61', '101', '82', '13', '51', '68', '38', '6', '69', '10', '41',
       '20', '5', '44', '23', '87', '81', '86', '94', '55', '72', '90',
       '117', '95', '27', '21', '80', '77', '30', '33', '14', '108',
       '183', '106', '128', '83', '65', '47', '49', '46', '102', '115',
       '64', '42', '141', '100', '79', '209', '99', '123', '78', '62',
       '136', '56', '264', '139', '138', '107', '16', '137', '34', '63',
       '150', '171', '91', '124', '59', '85', '154', '45', '76', '96',
       '17', '104', '131', '110', '92', '71', '125', '121', '147', '113',
       '208', '88', '112', '160', '75', '129', '111', '152', '140', '157',
       '162', '133', '116', '122', '67', '103', '120', '159', '53', '119',
       '89', '35', '73', '166', '40', '74', '98', '130', '50', '93',
       '105', '118', '127', '210', '84', '151', '193', '158', '109',
       '180'], dtype=object)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   player_id        2021 non-null   int64
 1   player_name      2021 non-null   object
 2   runs_scored      2021 non-null   object
 3   wickets          2021 non-null   object
 4   match_date       2021 non-null   object
 5   match_id         2021 non-null   int64
 6   opposition_team  2021 non-null   object
 7   location         2021 non-null   object
dtypes: int64(2), object(6)
memory usage: 126.4+ KB

In [12]:
df['runs_scored'] = df['runs_scored'].astype('int')
df['wickets'] = df['wickets'].astype('int')

In [13]:
#Printing the player_id with the corresponding player_name for reference
df[['player_id','player_name']].drop_duplicates().sort_values(by='player_id',ascending=True)

      player_id          player_name
0             1         Rohit Sharma
447           2        Hardik Pandya
706           3         Shubman Gill
24            4          Virat Kohli
563           5         Shreyas Iyer
500           6             KL Rahul
40            7      Ravindra Jadeja
516           8       Shardul Thakur
445           9       Jasprit Bumrah
684          10       Mohammed Siraj
518          11        Kuldeep Yadav
187          12       Mohammed Shami
64           13  Ravichandran ashwin
890          14         Ishan Kishan
891          15     Suryakumar Yadav
469          16           Babar Azam
470          17          Shadab Khan
1859         18    Abdullah Shafique
496          19          Faqar Zaman
1034         20           Haris Rauf
1787         21            Hasan Ali
1035         22       Iftikhar Ahmed
634          23          Imam-Ul-Haq
647          24       Mohammad Nawaz
1038         25      Mohammad Rizwan
1791         26   Mohammad Wasim Jr.
1039         27          Salman Agha
1766         28         Saud Shakeel
648          29  Shaheen Shah Afridi
1874         30            Usama Mir

In [14]:
ind_players = "Rohit Sharma, Ishan Kishan, Virat Kohli, Shreyas Iyer, KL Rahul, Hardik Pandya, Ravindra Jadeja, Ravichandran ashwin, Kuldeep Yadav, Jasprit Bumrah, Mohammed Siraj"
ind_player_list = ind_players.split(', ')
ind_player_list

['Rohit Sharma',
 'Ishan Kishan',
 'Virat Kohli',
 'Shreyas Iyer',
 'KL Rahul',
 'Hardik Pandya',
 'Ravindra Jadeja',
 'Ravichandran ashwin',
 'Kuldeep Yadav',
 'Jasprit Bumrah',
 'Mohammed Siraj']

In [15]:
pak_players = "Babar Azam, Faqar Zaman, Imam-Ul-Haq, Mohammad Rizwan, Saud Shakeel, Iftikhar Ahmed, Mohammad Nawaz, Shadab Khan, Hasan Ali, Shaheen Afridi, Haris Rauf"
pak_players_list = pak_players.split(', ')
pak_players_list

['Babar Azam',
 'Faqar Zaman',
 'Imam-Ul-Haq',
 'Mohammad Rizwan',
 'Saud Shakeel',
 'Iftikhar Ahmed',
 'Mohammad Nawaz',
 'Shadab Khan',
 'Hasan Ali',
 'Shaheen Afridi',
 'Haris Rauf']

In [16]:
#Keeping only the playing 11 in the dataset
complete_playing_11_list = ind_player_list + pak_players_list
df1 = df.copy()
df1 = df1[df1['player_name'].isin(complete_playing_11_list)]

In [17]:
df.shape, df1.shape

((2021, 8), (1728, 8))

In [18]:
df1.head(3)

,player_id,player_name,runs_scored,wickets,match_date,match_id,opposition_team,location
0,1,Rohit Sharma,0,0,23 Jun 2007,1,Ireland,Belfast
1,1,Rohit Sharma,8,0,26 Jun 2007,2,South Africa,Belfast
2,1,Rohit Sharma,1,0,5 Oct 2007,3,Australia,Hyderabad

<h3> Approach</h3>
    <ul><li>player_name feature is redundant to player_id and therefore remove it from dataframe</li>
        <li>match_id isn't giving any additional information, except for its uniqueness to each match, instead use match date as a proximity to add a time dimension to the data. The better the performances of the players in the recent matches, the better the performance in the next match.</li>
        <li>Since this is a regression model, transform the features opposition_team and location using One Hot Encoding.</li>
        <li>Check the skewness and distibution of the target variables (runs_scored and wickets) and apply corresponding normalization techniques.</li></ul>

In [19]:
df2 = df1.copy()
df2.drop(['player_name','match_id'],axis = 1,inplace=True)

In [20]:
df2['match_date'] = pd.to_datetime(df2['match_date'])
df2['match_proximity'] = (df2['match_date'] - min(df2['match_date'])).dt.days
df2.head()

,player_id,runs_scored,wickets,match_date,opposition_team,location,match_proximity
0,1,0,0,2007-06-23,Ireland,Belfast,0
1,1,8,0,2007-06-26,South Africa,Belfast,3
2,1,1,0,2007-10-05,Australia,Hyderabad,104
3,1,52,0,2007-11-18,Pakistan,Jaipur,148
4,1,29,0,2008-02-03,Australia,Brisbane,225

In [21]:
#New Feature is created to beat the skewness of the match_date difference.
df2.sort_values(by='match_proximity',ascending=True,inplace = True)
df2.drop('match_proximity',axis=1,inplace=True)
df2['match_proximity'] = list(range(1,(df2.shape)[0] +1))
df2.rename(columns={'index':'match_proximity'},inplace = True)
df2.drop(columns = 'match_date',inplace = True)
df2.head()

   player_id  runs_scored  wickets opposition_team   location  match_proximity
0          1            0        0         Ireland    Belfast                1
1          1            8        0    South Africa    Belfast                2
2          1            1        0       Australia  Hyderabad                3
3          1           52        0        Pakistan     Jaipur                4
4          1           29        0       Australia   Brisbane                5

In [22]:
#Performing One Hot Encoding
df3 = pd.get_dummies(data=df2,columns=['opposition_team','location'],drop_first=True)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1728 entries, 0 to 1102
Columns: 102 entries, player_id to location_Wellington
dtypes: int64(4), uint8(98)
memory usage: 232.9 KB

In [23]:
#Splitting the predictor and target variables
#Since this is a multi output regression model, the model training is done for one target variable at a time
X = df3.drop(columns = ['runs_scored','wickets'])
y_runs = df3.runs_scored
y_wickets = df3.wickets

In [24]:
#Initially building a model for runs_scored
X_train_runs,X_test_runs,y_train_runs,y_test_runs = train_test_split(X,y_runs,test_size=0.2,random_state=42)

In [25]:
#using a library called pycaret to estimate the base models performance on the data
runs_train_data_combined = X.copy()
runs_train_data_combined['runs_scored'] = np.log1p(y_runs)
fit_data = setup(data = runs_train_data_combined,target = 'runs_scored')
best = compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [27]:
#training Gradient Boosting Regression Model
y_train_runs_norm = np.log1p(y_train_runs)
y_test_runs_norm = np.log1p(y_test_runs)
gbr = GradientBoostingRegressor()
gbr.fit(X_train_runs,y_train_runs_norm)
y_pred_runs_gbr = gbr.predict(X_test_runs)
mean_squared_error(y_test_runs_norm,y_pred_runs_gbr)

2.0951495780101808

In [30]:
#training Catboost Regressor Model
cbr = CatBoostRegressor(verbose = 0)
cbr.fit(X_train_runs,y_train_runs_norm)
y_pred_runs_cbr = cbr.predict(X_test_runs)
mean_squared_error(y_test_runs_norm,y_pred_runs_cbr)

2.2525651967397726

In [31]:
#Now building a model for wickets
X_train_wickets,X_test_wickets,y_train_wickets,y_test_wickets = train_test_split(X,y_wickets,test_size=0.2,random_state=42)

In [32]:
#using a library called pycaret to estimate the base models performance on the data
wickets_train_data_combined = X.copy()
wickets_train_data_combined['runs_scored'] = y_wickets
fit_data = setup(data = wickets_train_data_combined,target = 'runs_scored')
best = compare_models()

Processing:   0%|          | 0/85 [00:00<?, ?it/s]

In [33]:
#training Gradient Boosting Regression Model
gbr = GradientBoostingRegressor()
gbr.fit(X_train_wickets,y_train_wickets)
y_pred_wickets_gbr = gbr.predict(X_test_wickets)
mean_squared_error(y_test_wickets,y_pred_wickets_gbr)

0.7693824211877467

In [34]:
#training Catboost Regressor Model
cbr = CatBoostRegressor(verbose = 0)
cbr.fit(X_train_wickets,y_train_wickets)
y_pred_wickets_cbr = cbr.predict(X_test_wickets)
mean_squared_error(y_test_wickets,y_pred_wickets_cbr)

0.8015191320380446

In [54]:
columns_0 = list(submission_predictor_df.columns)
columns_0.remove('player_id')
columns_0.remove('match_proximity')

['opposition_team_Australia', 'opposition_team_Bangladesh', 'opposition_team_England', 'opposition_team_Hong Kong', 'opposition_team_India', 'opposition_team_Ireland', 'opposition_team_Nepal', 'opposition_team_Netherlands', 'opposition_team_New Zealand', 'opposition_team_Pakistan', 'opposition_team_South Africa', 'opposition_team_Sri Lanka', 'opposition_team_U.A.E.', 'opposition_team_West Indies', 'opposition_team_Zimbabwe', 'location_Adelaide', 'location_Ahmedabad', 'location_Auckland', 'location_Belfast', 'location_Bengaluru', 'location_Birmingham', 'location_Brabourne', 'location_Bridgetown', 'location_Brisbane', 'location_Bristol', 'location_Bulawayo', 'location_Canberra', 'location_Cape Town', 'location_Cardiff', 'location_Centurion', 'location_Chattogram', 'location_Chennai', 'location_Chester-le-Street', 'location_Christchurch', 'location_Colombo (RPS)', 'location_Cuttack', 'location_Dambulla', 'location_Delhi', 'location_Dharamsala', 'location_Dubai (DSC)', 'location_Dublin (Malahide)', 'location_Dunedin', 'location_Durban', 'location_Eden Gardens', 'location_Fatullah', 'location_Gqeberha', 'location_Gros Islet', 'location_Guwahati', 'location_Gwalior', 'location_Hambantota', 'location_Hamilton', 'location_Harare', 'location_Hobart', 'location_Hyderabad', 'location_Indore', 'location_Jaipur', 'location_Johannesburg', 'location_Kanpur', 'location_Karachi', 'location_Kingston', 'location_Kochi', 'location_Lahore', 'location_Leeds', "location_Lord's", 'location_Lucknow', 'location_Manchester', 'location_Melbourne', 'location_Mirpur', 'location_Mohali', 'location_Mount Maunganui', 'location_Multan', 'location_Nagpur', 'location_Napier', 'location_Nelson', 'location_North Sound', 'location_Nottingham', 'location_Paarl', 'location_Pallekele', 'location_Perth', 'location_Port of Spain', 'location_Providence', 'location_Pune', 'location_Raipur', 'location_Rajkot', 'location_Ranchi', 'location_Rawalpindi', 'location_Rotterdam', 'location_Sharjah', 'location_Southampton', 'location_Sydney', 'location_Tarouba', 'location_Taunton', 'location_The Oval', 'location_Thiruvananthapuram', 'location_Vadodara', 'location_Visakhapatnam', 'location_Wankhede', 'location_Wellington']

In [58]:
#Creating the Submission data set with predictor variables
submission_predictor_df = pd.DataFrame(columns=X.columns)
submission_predictor_df.player_id = [i for i in X.player_id.unique()]
columns_0 = list(submission_predictor_df.columns)
columns_0.remove('player_id')
columns_0.remove('match_proximity')
for i in columns_0:
    submission_predictor_df[i] = 0
submission_predictor_df.loc[submission_predictor_df['player_id'] > 15, 'opposition_team_Pakistan'] = 1
submission_predictor_df.loc[submission_predictor_df['player_id'] < 16, 'opposition_team_India'] = 1
submission_predictor_df['location_Rajkot'] = 1
submission_predictor_df['match_proximity'] = X.match_proximity.max() + 1
submission_predictor_df

,player_id,match_proximity,opposition_team_Australia,opposition_team_Bangladesh,opposition_team_England,opposition_team_Hong Kong,opposition_team_India,opposition_team_Ireland,opposition_team_Nepal,opposition_team_Netherlands,...,location_Southampton,location_Sydney,location_Tarouba,location_Taunton,location_The Oval,location_Thiruvananthapuram,location_Vadodara,location_Visakhapatnam,location_Wankhede,location_Wellington
0,1,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,4,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,7,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,13,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,25,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,16,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,22,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,9,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,6,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,24,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,2,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,17,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,19,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,11,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,23,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,5,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,10,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,20,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,28,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,14,1729,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,21,1729,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
#Using Gradient Descent Model to predict the final output (runs_scored)
y_runs_norm = np.log1p(y_runs)
gbr_runs = GradientBoostingRegressor()
gbr_runs.fit(X,y_runs_norm)
y_pred_runs_gbr = np.round(np.exp(gbr_runs.predict(submission_predictor_df))-1)
y_pred_runs_gbr

array([38., 40., 11.,  2., 16., 32., 17.,  2., 39., 12., 24., 12., 19.,
        2., 25., 40.,  2.,  3., 12., 24.,  3.])

In [64]:
#training Gradient Boosting Regression Model
gbr_wickets = GradientBoostingRegressor()
gbr_wickets.fit(X,y_wickets)
y_pred_wickets_gbr = abs(np.round(gbr_wickets.predict(submission_predictor_df)))
y_pred_wickets_gbr

array([0., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 1.,
       2., 1., 0., 1.])

In [68]:
pred = []
for i, j  in zip(range(len(y_pred_runs_gbr)),range(len(y_pred_wickets_gbr))):
    pred.append([y_pred_runs_gbr[i],abs(y_pred_wickets_gbr[j])])
for i in range(len(pred)):
    for j in range(0,2):
        pred[i][j] = int(round(pred[i][j]))
final_results = pd.DataFrame(pred)
final_results.rename(columns = {0:'runs',1:'wickets'},inplace = True)

In [72]:
final_results['player_id'] = submission_predictor_df['player_id']
final_results = final_results.iloc[:,[2,0,1]]
final_results.head()

   player_id  runs  wickets
0          1    38        0
1          4    40        0
2          7    11        1
3         13     2        1
4         25    16        1

In [84]:
list(final_results.player_id.sort_values())

[1, 2, 4, 5, 6, 7, 9, 10, 11, 13, 14, 16, 17, 19, 20, 21, 22, 23, 24, 25, 28]

In [85]:
not_in_squad = [3,8,12,15,18,26,27,29,30]
not_in_squad_final = pd.DataFrame(data = not_in_squad)
not_in_squad_final.rename(columns={0:'player_id'},inplace=True)
not_in_squad_final['runs'] = 0
not_in_squad_final['wickets'] = 0

In [86]:
gbr_submission_final = pd.concat([final_results,not_in_squad_final])
gbr_submission_final.sort_values(by='player_id',inplace=True)
gbr_submission_final

    player_id  runs  wickets
0           1    38        0
10          2    24        1
0           3     0        0
1           4    40        0
15          5    40        0
8           6    39        0
2           7    11        1
1           8     0        0
7           9     2        1
16         10     2        1
13         11     2        1
2          12     0        0
3          13     2        1
19         14    24        0
3          15     0        0
5          16    32        0
11         17    12        1
4          18     0        0
12         19    19        0
17         20     3        2
20         21     3        1
6          22    17        1
14         23    25        1
9          24    12        1
4          25    16        1
5          26     0        0
6          27     0        0
18         28    12        1
7          29     0        0
8          30     0        0

In [87]:
gbr_submission_final.to_csv('submission_V1.csv',index=False)